<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionDatabaseWinForDI" connectionString="Data Source=localhost;Initial Catalog=DBDonoCaoWinForDI;Integrated Security=True" />
  </connectionStrings>
</configuration>